<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户中心</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='news/css/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='news/css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='bootstrap/css/bootstrap.min.css') }}">

</head>
<body>
<div class="header_con">
    <div class="header">
        <a href="#" class="logo fl">
            <img src="{{ url_for('static',filename='news/images/logo.png') }}" alt="logo">
        </a>
        <div class="user_login fr" style="display: block;">
            <img
                    {% if user.avatar_url %}
                        src="{{ user.avatar_url }}"
                    {% else %}
                        src="../../static/news/images/person01.png"
                    {% endif %}
                        class="lgin_pic">
            {#            <img {% if user.avatar_url %} src="{{ user.avatar_url }}" {% else %}#}
            {#                 src="../../static/news/images/person01.png"{% endif %} class="lgin_pic">#}
            {#            <img src="{{ url_for('static',filename='news/images/user_pic.png') }}" class="lgin_pic">#}
            <a href="{{ url_for('/user.index') }}">{{ user.nick_name }}</a>
            <a href="{{ url_for('/user.logout') }}">退出</a>
        </div>
    </div>
</div>

<!--内容-->
{% block content %}{% endblock %}
<!--内容-->

<div class=" footer">
    <div class="footer_links">
        <a href="">关于我们</a>
        <span>|</span>
        <a href="">联系我们</a>
        <span>|</span>
        <a href="">招聘人才</a>
        <span>|</span>
        <a href="">友情链接</a>
    </div>
    <p class="copyright">
        CopyRight © 2018 新经资讯信息技术有限公司 All Rights Reserved<br/>
        电话：010-****888 京ICP备*******8号
    </p>
</div>

<script type="text/javascript" src="{{ url_for('static',filename='news/js/jquery-1.12.4.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='news/js/jquery.form.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='news/js/main.js') }}"></script>
<script src="{{ url_for('static',filename='bootstrap/js/bootstrap.min.js') }}"></script>
{% block js %}{% endblock %}
</body>
</html>