<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户中心</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='news/css/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='news/css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='bootstrap/css/bootstrap.min.css') }}">


</head>
<body class="inframe_body">
<form method="post" enctype='multipart/form-data'>
    <h3>头像设置</h3>
    <div class="form-group">
        <label class="label01">当前图像：</label>
        <img {% if user.avatar_url %}src="{{ user.avatar_url }}" {% else %}
             src="../../static/news/images/person01.png"{% endif %} class="now_user_pic">
    </div>
    <div class="form-group">
        {{ form.url.label }}
        {{ form.url }}
    </div>

    <div class="form-group">
        {{ form.submit }}
        {{ form.csrf_token }}
    </div>
</form>
<script type="text/javascript" src="{{ url_for('static',filename='news/js/jquery-1.12.4.min.js') }}"></script>
<script src="{{ url_for('static',filename='bootstrap/js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static',filename='news/js/user_pic_info.js') }}"></script>
</body>
</html>