<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户中心</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='news/css/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='news/css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='bootstrap/css/bootstrap.min.css') }}">

</head>
<body class="inframe_body">
<form class="" method="POST">
    <h3>基本资料</h3>

    <!-- 正确提示-->
    {% for msg in get_flashed_messages(category_filter=['ok']) %}
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×
            </button>
            <h4><i class="icon fa fa-check"></i> {{ msg }}</h4>
        </div>
    {% endfor %}

    <!-- 个性签名错误提示-->
    <div class="alert alert-danger" style="padding: 0px;border: 0px; line-height: 40px;font-size: 20px;" role="alert">
        {% for err in form.signature.errors %}
            <div class="col-md-12">
                <font style="color: red">{{ err }}</font>
            </div>
        {% endfor %}

    </div>

    <div class="alert alert-danger" style="padding: 0px;border: 0px; line-height: 40px;font-size: 20px;" role="alert">
        {% for err in form.nick_name.errors %}
            <div class="col-md-12">
                <font style="color: red">{{ err }}</font>
            </div>
        {% endfor %}
    </div>


    <div class="form-group">
        <!-- 个性签名-->
        <div class="col-12"></div>
        <!--       <p style="text-align: center;color: red;">{{ form.signature.errors.0 }}</p>-->
        {{ form.signature.label }}
        {{ form.signature(value=user.signature) }}


    </div>
    <div class="form-group">
        <!-- 用户昵称-->
        {{ form.nick_name.label }}
        {{ form.nick_name(value=user.nick_name) }}
    </div>
    <div class="form-group">
        {{ form.gender.label }}
        {{ form.gender(value=user.gender) }}
    </div>
    <div class="form-group">
        {{ form.submit }}
        {{ form.csrf_token }}
    </div>
</form>
<script src="{{ url_for('static',filename='news/js/jquery-1.12.4.min.js') }}"></script>
<script src="{{ url_for('static',filename='bootstrap/js/bootstrap.min.js') }}"></script>
<script>
    $().ready(function () {
        var value = $('#gender').attr("value");
        var lis = $('#gender').find("input");
        if (value === "WOMAN") {
            lis[1].checked = "checked";
        } else {
            lis[0].checked = "checked";
        }

    })
</script>
</body>
</html>